:root {
    --branding-colour:#6c63ff;
    --heading-font-family: "Playfair Display", serif;
    --default-font-family: "Poppins", sans-serif;
    --secondary-colour: #f9f7fe;
}

body {
    font-family: var(--default-font-family);
}

p {
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
}


h1, h2, h3, h4, h5, h6 {
    font-family: "Playfair Display", serif;
    font-weight: bold;
}

h1 {
    font-size: 96px;
    line-height: 1.5;
}

h2 {
    font-size: 62px;
}

h3 {
    font-size: 48px;
}


.hero {
    background: var(--secondary-colour);
    text-align: center;
    padding: 80px 20px;
}

.hero p {
    font-size: 36px;
    font-weight: bold;
    margin: 0;
    color: #272142;
}

.hero h2 {
    font-family: var(--heading-font-family);
    font-weight: normal;
    font-size: 24px;
    line-height: 1.5;
}

.content-container {
    padding: 60px 20px;
}

.content h1 {
    font-size: 64px ;
    line-height: 80px;
}

.content h2 {
    font-size: 18px;
    font-family: var(--default-font-family);
}

.content h3 {
    font-size: 24px;
    line-height: 1.5;
    font-family: var(--default-font-family);
}

.content p {
    font-size: 14px;
}

.content {
    margin: 30px;
}

.emmalyn {
    border-radius: 4px;
}

.btn-branding {
    background: var(--branding-colour);
    border-radius: 4px;
    color:white;
    font-size: 18px;
    line-height: 27px;
    padding: 15px 30px;
}

.btn-branding-outline {
    color: var(--branding-colour);
    border: 1px solid var(--branding-colour);
    border-radius: 4px;
    font-size: 18px;
    line-height: 27px;
    padding: 15px 30px;
}

.project-description {
    padding: 120px 60px;
}

.logo {
    max-height: 40px;

}

nav {
    padding: 20px 0;
}

nav ul {
    padding: 0;
}

nav li {
    display: inline;
    list-style: none;
    line-height: 42px;
    margin-left: 15px;
}

nav a {
text-decoration: none;
color: #272142;
transition: all 100ms ease-in-out;
}


nav a:hover, 
nav li.active a {
    color: var(--branding-colour);
}


footer {
    margin: 60px 0;
}

footer .contact-box {
    background-color: var(--secondary-colour);
    padding: 30px 120px;
    border-radius: 10px;
}

footer .contact-box p {
    margin: 0;
}

footer .email-link {
    text-decoration: none;
    color: black;
    font-size: 24px;
    font-weight:300

}

footer .email-link:hover {
    color: var(--branding-colour);
}

footer .social-links a {
    margin: 0 20px;
    color: var(--branding-colour);
    background-color: var(--secondary-colour);
    padding: 10px 14px;
    border-radius: 50%;
    font-size: 18px;
    transition: all 100ms ease-in-out;
}

footer .social-links a:hover {
    color: white;
    background: var(--branding-colour);
}

@media (max-width: 900px) {
    h1 { font-size: 44px;
        line-height: 56px;
    }


    h2 {
        font-size: 44px ;
    }
    .project-description {
        padding: 0;
        text-align: center;
    }

    h3 {
    font-size: 26px;
    }

    .content {
        text-align: center;
        padding: 0;
    }

    nav a {
        font-size: 12px;

    }

}